<footer class="section--footer">
  <div class="container container--content">
    <!-- <div>
      <a href="{{ 'humans.txt' | relative_url }}">Hand-crafted</a> by <a href="{{ 'about/' | relative_url }}">Nomadic Method</a>
    </div> -->
    <ul class="socialAccountList">
      <li><a href="http://twitter.com/{{ site.author.twitter }}" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="http://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
      <li><a href="http://www.linkedin.com/company/{{ site.author.linkedin }}" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
    </ul>
    <div>
      © Nomadic Method LLC, 2017-2020. All Rights Reserved.
    </div>
  </div>
</footer>
