<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Stay in touch</h3>
    <p>
      Hi, we are <a href="{{ 'about/' | relative_url }}">Nomadic Method</a>. It's very nice to meet you!

      We send infrequent and useful email newsletters about tourism and innovation. Subscribe to stay in touch with us!
    </p>
    <div class="newsletterForm-wrapper">
      <!-- Begin SendGrid Signup Form -->
      <div id="sendgrid-embed">
        <form action="https://cdn.forms-content.sg-form.com/eccb1b9d-761f-11ea-bc12-72e1760a52ca" target="_blank">
        <div class="sendgrid-form-actions clear u-alignCenter">
          <input type="submit" value="Subscribe" class="button button--primary">
        </div>
        </form>
      </div>
      <!-- End SendGrid Signup Form -->
    </div>
    <hr/>
  </div>
</section>
